# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.sqlite3

# Django stuff:
*.log
local_settings.py
media/
staticfiles/
static/

# Environment variables
.env

# VSCode / PyCharm
.vscode/
.idea/

# Virtual environments
venv/
.env/
.venv/
poetry.lock

# System files
.DS_Store
Thumbs.db

# Coverage / test reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# Migrations cache
*/migrations/__pycache__/

notes.txt
.docx
